.secret-control-container {
    display: none;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7px;
}

.secret-control-label {
    font-size: 10pt;
    width: 185px;
}

.secret-control-button {
    margin-left: 5px;
}